<h1>New Tracked Area</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.tracked_earthquake_path(@conn, :create)) %>

<div style="margin-top: 5px">
  <%= link "Back", to: Routes.tracked_earthquake_path(@conn, :index), class: "btn btn-secondary" %>
</div>
